html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  background-color: #303030;
  box-sizing: border-box;
}

main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: aquamarine;
  border-color: aliceblue;
  border-width: 6px;
  border-radius: 34px;
  box-sizing: border-box;
  color: #303030;
  cursor: pointer;
  font-style: normal;
  font-size: medium;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 10px;
  max-width: 500px;
  min-width: 200px;
  min-height: 30px;
  position: relative;
  text-align: center;
}

.finish-buttons {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}
